@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 2;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #eabe6c;
}

ol {
  list-style-type: none;
}

li {
  color: #4faf44;
}

.arrow svg {
  display: none;
}

.arrow {
  position: relative;
  display: block;
  color: #eabe6c;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffc700;
}

.arrow:hover svg {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2em;
}
.left-arrow {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #eabe6c;
  text-decoration: none;
  transition: color 0.2s;
}

.left-arrow:hover {
  cursor: pointer;
  color: #ffc700;
}

.spotify {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #eabe6c;
}

.serendipity_content {
  color: #eabe6c;
}

.spotify:hover {
  cursor: pointer;
  color: #ffc700;
}

.spotify span {
  margin: 0 10px;
}

@font-face {
  font-family: "arcades";
  src: url("./fonts/arcades.TTF") format("truetype");
}

.title-container {
  text-align: center;
  margin-top: 50px;
}

.title {
  font-family: "arcades", sans-serif;
  font-size: 60px;
  color: #b784b7;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}
